/* ===================== TOP BAR ===================== */
.top-bar {
    background-color: #d73387;
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

.title-left {
    font-size: 18px;
    font-weight: bold;
}

/* ===================== HEADER ===================== */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: #fafafa;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
    margin-right: 15px;
}

/* >>> NUEVO GRUPO DE TEXTO PARA CENTRAR <<< */
.text-group {
    display: flex;
    flex-direction: column;   /* Texto negro abajo */
    align-items: center;      /* Centrar horizontal */
    line-height: 1.1;
}

.titulo-rosa {
    font-size: 22px;
    font-weight: bold;
    color: #d73387;
}

.titulo-negro {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/* ===================== MAIN ===================== */
.cementerios-container {
    padding: 30px 40px;
}

.titulo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

/* ===================== GRID ===================== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}

/* ===================== CARD ===================== */
.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: 0.2s;
    border: 2px solid #ffc0cb;
}

.card:hover {
    transform: scale(1.03);
}

.card-img img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    background: #eee;
    padding: 10px;
}

.line {
    height: 4px;
    background: #ffb6c1;
    margin-top: -5px;   /* mueve hacia arriba */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}



/* CONTENIDO */
.card-body {
    padding: 15px;
    text-align: center;
    background: #d73387; /* fondo rosa claro */
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.card-tipo {
    color: white;
    margin-bottom: 12px;
}

/* BOTÓN */
.btn-ir {
    padding: 8px 15px;
    background: white;
    color: black;
    border-radius: 6px;
    text-decoration: none;
}

.btn-ir:hover {
    background: #b0144d;
}

/* LOGOUT */
.logout {
    margin-top: 40px;
    text-align: center;
}

.btn-logout {
    padding: 10px 20px;
    background: red;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}












